///////////// API for fonts //////////////

$sans: "Optima", sans-serif;
$serif: "Baskerville", serif;
//$mono: "Courier", monospace;
//$heading-font-family: "Verdana", sans-serif;
$header-title-font-family: "Futura", sans-serif;
//$header-subtitle-font-family: "Futura", sans-serif;
//$name-font: 'Alegreya', serif;
$logo-sub: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
$paragraphs: "Belleza", serif;
$stylish-text: "Ceviche One" sans-serif;
$heading-alt: "Gafata", sans-serif;
$footer-alt: "Roboto", monospace; 