///////////// API for images //////////////
/////////////// and icons ////////////////

/* Activity tables and groups */
$icon-activity-login : glyphicon glyphicon-log-in;
$icon-link : glyphicon glyphicon-link;
$icon-edit : glyphicon glyphicon-edit;
$icon-stats : glyphicon glyphicon-stats;
$icon-chart : fa fa-bar-chart-o fa-lg;

/* Carousel */
$icon-slide-right :glyphicon glyphicon-chevron-right;
$icon-slide-left : glyphicon glyphicon-chevron-right;

/* Logo */
$img-logo-ceeo : https://int.erlace.com/images/CEEO_small.png;

/* Miscellaneous */
$icon-min : glyphicon glyphicon-minus-sign;
$icon-max : glyphicon glyphicon-plus-sign;
$icon-close : glyphicon glyphicon-remove-sign;