$icon-font-path: "../vendor/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "../vendor/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "compass/css3";


#tab1  {
	line-height: 2em;
	font: $serif;
	font-weight: bold;
	font-size: 3em;
}