<div class="header" class="container-fluid">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">interlace research</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row", id="example">
  <div class="col-xs-6 col-sm-3"><span class="glyphicon glyphicon-tree-conifer"></span>blah blah blah</div>
  <div class="col-xs-6 col-sm-3"><span class="glyphicon glyphicon-tree-deciduous"></span>blah blah blah</div>
  <div class="col-xs-6 col-md-6">more blah blah blah</div>

  <!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs"></div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>

  <div id="table-exp" class="col-md-10">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th class="col-md-4">Activity name</th>
        <th class="col-md-2">Group name</th>
        <th class="col-md-1">Date</th>
        <th class="col-md-3"></th>         
      </tr>
      </thead>
      <tr>
        <td>Row 2 blah</td>
        <td> blah </td>
        <td> blah </td>
        <td>
        <a href="#"><span class="glyphicon glyphicon-log-in"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-link"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-edit"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-stats"></span></a> 
         <a href="#"><span><i class="fa fa-bar-chart-o fa-lg"></span></a> 
        </td>
      </tr>
      <tr>
        <td> Row 3 blah </td>
        <td> blah </td>
        <td> blah </td>
        <td> 
          <a href="#"><span class="glyphicon glyphicon-log-in"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-link"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-edit"></span></a>
         <a href="#"> <span class="glyphicon glyphicon-stats"></span></a> 
         <a href="#"><span><i class="fa fa-bar-chart-o fa-lg"></span></a>
        </td>
      </tr>
    </table>
  </div>

    <div id="dropdown" class="col-md-6">
    <ul><li class="col-md-2">One
            <ul>
              <li>Ae</li>
              <li>bee</li>
              <li>cee</li>
            </ul>
        </li>
        <li class="col-md-2">Two
            <ul>
              <li>aik</li>
              <li>do</li>
              <li>teen</li>
            </ul>
        </li>
        <li class="col-md-2">
          Three
          <ul>
            <li>un</li>
            <li>deux</li>
            <li>trois</li>
          </ul>
        </li>
        <li class="col-md-2">Four</li>
        <li class="col-md-2">Five</li>
    </ul>
  </div>
</div>