    <div id="dropdown" class="col-md-6">
    <ul><li class="col-md-2">One
            <ul>
              <li>Ae</li>
              <li>bee</li>
              <li>cee</li>
            </ul>
        </li>
        <li class="col-md-2">Two
            <ul>
              <li>aik</li>
              <li>do</li>
              <li>teen</li>
            </ul>
        </li>
        <li class="col-md-2">
          Three
          <ul>
            <li>un</li>
            <li>deux</li>
            <li>trois</li>
          </ul>
        <li class="col-md-2">Four</li>
        <li class="col-md-2">Five</li>
    </ul>
  </div>
</div>

