	<ul class="nav nav-tabs">
    <li class="active"><a href="#">Home</a>
    </li>
    <li><a href="#">Activities</a></li>
    <li><a href="#">Homework</a></li>
    <li><a href="#">Teacher helpdesk</a></li>
    <li><a href="#">Contact</a></li>
    </ul>

    <div class="tabcontent">
<div class="tabpane active" id="home">Home content...</div>
<div class="tabpane" id="profile">Content here...</div>
<div class="tabpane" id="messages">Messages...</div>
<div class="tabpane" id="settings">Settings...</div>
</div>
</div>

<div class="tabcontent">
  <div class="tabpane active" id="tab1">
    
    <p>I'm in Section 1.</p>
  </div>
  <div class="tabpane" id="tab2">
    <p>I'm in Section 2.</p>
  </div>
</div>